{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique française{% endblock %}

{% block content %}
    <style>
        .example-wrapper { margin: 3em auto;padding-bottom:5em; max-width: 600px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="h3 text-center mb-5"> Modifier mon mot de passe</h1>
        <a href="{{ path('account') }}">Retour à mon compte</a>
        <hr>
        {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        <div class="card">
            <div class="p-3">
            {{ form(form) }}


            </div>
        </div>


    </div>
{% endblock %}