{% extends 'base.html.twig' %}

{% block carousel %}   {% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <!-- Three columns of text below the carousel -->
    <div class="row mx-auto">
        <div class="col-12">
        <h2 class="text-center">Notre sélection</h2>

        </div>
        {% for product in products %}
        <div class="col-lg-3">
            {% include 'product/single_product.html.twig' %}
        </div><!-- /.col-lg-4 -->
    {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une équipe de professionnels <span class="text-muted"> au grand savoir-faire</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/first.jpg') }}" alt="image couturière" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Une nouvelle boutique a ouvert ses portes ! <span class="text-muted">Venez la découvrir</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/second.jpg') }}" alt="image boutique" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
    </div>


    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}