{% extends 'base.html.twig' %}

{% block title %}Mon nouveau mot de passe - La boutique française{% endblock %}

{% block content %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%;min-height: 90vh;  font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper py-5">
        <div class="row py-3 mx-auto">
            <div class="col-md-8 mx-auto">
                {% for message in app.flashes('notice') %}
                   <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
                <h1 class="h3 mb-3 font-weight-normal">Mon nouveau mot de passe</h1>
                <div class="card p-3">
                   {{ form(form) }}

                </div>

            </div>
        </div>
    </div>
{% endblock %}