.navbar-item_custom, .navbar-item_custom a {
    color: #fff;
}

a:hover {
    text-decoration: none !important;
    color: #34ce57 !important;
}
body {
    position: relative !important;
    color: #424242 !important;
}
.lead {
    font-size: 1rem !important;
}
small {
    font-size: 13px !important;
}
footer {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: #95999c !important;

}
.title-divider {
    display: block !important;
    width: 40px !important;
    margin-top: -5px;
    border-top: 3px solid #aa1111 !important;
}
.form-check {
    background-color: #f4f8ff !important;
    padding: 1em 40px!important;
    margin-top: 1em;
}
.order-recap {
    background-color: #f4f8ff;
    padding: 1em;
    margin-top: 1.4em;
}
.img-order {
    border-radius: 7px;
    border: #b9d9eb solid 1px;
}

/*easy admin*/
.page-actions a {
    margin-right: 1em !important;
}