.navbar-item_custom, .navbar-item_custom a {
    color: #fff;
}

a:hover {
    text-decoration: none !important;
    color: #34ce57 !important;
}
body {
    position: relative !important;
    color: #424242 !important;
}
.lead {
    font-size: 1rem !important;
}
footer {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-color: #95999c !important;
}
.title-divider {
    display: block !important;
    width: 40px !important;
    margin-top: -5px;
    border-top: 3px solid #aa1111 !important;
}